---
title: CardDNA
call_to_action: Contact
background_image_path:
large_header: true

_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>This service distinguishes 16 customer branches through card company data.</p>

	<p>We provide card recommendations and card cover customization services tailored to each customer's pattern group.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
